:root {
	--main-color: #84FFB9;
	--main-color-lighter: #BEFFDA;
	--back-color: #151916;
	--middle-color: #2E2E2E;
	--font-color: white;
	--error-color: #DC6379;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--back-color);
	color: var(--font-color);
	fill: var(--font-color);
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (max-width: 400px) {
	html,
	body {
		font-size: 14px;
	}
}
@media (max-width: 800px) {
	html,
	body {
		font-size: 16px;
	}
}